#player {
  /* position: relative; */
  overflow: hidden;
}

#player canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  /* background-color: #0000003a; */
  background-color: #000000ce;
  /* background-color: crimson; */
  /* background-color: transparent; */
  pointer-events: none;
  user-select: none;
}
